/* Ali */
/* Navigation Bar Styles */
    .nav-bar {
        background-color: #2c3e50;
        overflow: hidden;
        padding: 10px 20px;
    }

    .nav-bar a {
        float: left;
        display: flex;
        align-items: center;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        margin: 0 10px;
        border-radius: 5px;
    }

    .nav-bar img {
        margin-right: 8px; 
    }

    .nav-bar a img {
        width: 25px;
        height: 25px;
    }