/*taken by khalil*/
body{
    background-image: url(/images&backgrounds/background.png);
    background-size:cover;
}

#start{
    border-radius: 10px;
    background-color: #98d0f8;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
    border: groove #ffffff;
}

#work{
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    color: #98d0f8;
    font-size: 20px;
    border:groove #98d0f8;
 
}

#work:hover{
    border-radius: 10px;
    background-color: #98d0f8;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    border-color: #ffffff;
 
}

#start:hover{
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    color: #98d0f8;
    font-size: 20px;
    border-color: #98d0f8;
}

.nav-bar {
    /* background-color: #3192d6; */
    text-align: center;
    width: 99%;
    padding: 10px;
    font-size: 25px;
    
    
}
.nav-bar a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}