/*taken by khalil*/
body{
    background-image: url(/images&backgrounds/darkone.png);
    background-size:contain;
}

#start{
    border-radius: 10px;
    background-color: #004d66;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
    border: groove #ffffff;
}

#work{
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    color: #004d66;
    font-size: 20px;
    border:groove #004d66;
 
}

#work:hover{
    border-radius: 10px;
    background-color: #004d66;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    border-color: #ffffff;
 
}

#start:hover{
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    color: #004d66;
    font-size: 20px;
    border-color: #004d66;
}

.nav-bar {
    /* background-color: #3192d6; */
    text-align: center;
    width: 99%;
    padding: 10px;
    font-size: 25px;
    
    
    
}
.nav-bar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}